<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.noveria.assertion.asserter.WaitUntilAsserter" level="INFO"/>
    <logger name="com.noveria.cukes.assertion.ProcessingTimeAssertTask" level="DEBUG"/>
    <logger name="com.noveria.cukes.helpers.thread.ThreadHelper" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>